body {
      background-color: #EEE;
}
#intro {
<p style="text-align:center">Center this text!</p>
    text-decoration-color: white;
      }

#header {
<p style="text-align:center">Center this text!</p>
    text-decoration: navy;
  }

#footer {
<p style="text-align:center">Center this text!</p>
  text-decoration: navy;
}
