body {
background-color: #fff;
}

#container {
text-align: justify;
}

#hi {
text-align: center;

color: white;
font-family: arial;
      }

#name {
text-align: center;

color: white;
font-family: arial;
    }

#headers {
text-align: center;
colour: #blue;
font-family: arial;
        }

#footer {
text-align: center;
colour: #blue;
font-family: arial;
        }
