body {
      background-color: #EEE;
}
#intro {
    text-align: center;
    text-decoration-color: white;
      }

#header {
    text-align: center;
    text-decoration: navy;
  }

#footer {
  text-align: center;
  text-decoration: navy;
}
